<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evodex_id }} - Reaction</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../images/evodex_logo.png" alt="EVODEX Logo">
        </a>
        <div>
            <h1>{{ evodex_id }}</h1>
            <h2>Full Hydrogen-Mapped Reaction</h2>
        </div>
    </header>
    <main>
        <section>
            <h2>SMIRKS</h2>
            <img src="../images/{{ svg_filename }}" alt="Reaction Rendering">
            <p>{{ smirks }}</p>
        </section>
        <section>
            <h2>Reaction Sources</h2>
            <table>
                <thead>
                    <tr>
                        <th>Rxn Index</th>
                        <th>Original Reaction Text</th>
                        <th>Natural</th>
                        <th>Organism</th>
                        <th>Protein Refs</th>
                        <th>Protein DB</th>
                        <th>EC Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for source in sources %}
                    <tr>
                        <td>{{ source.rxn_idx }}</td>
                        <td>{{ source.orig_rxn_text }}</td>
                        <td>{{ source.natural }}</td>
                        <td>{{ source.organism }}</td>
                        <td>{{ source.protein_refs }}</td>
                        <td>{{ source.protein_db }}</td>
                        <td>{{ source.ec_num }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h2>Derived Partial Reactions</h2>
            {% for reaction in partial_reactions %}
            <div>
                <h3><a href="../pages/{{ reaction.id }}.html">{{ reaction.id }}</a></h3>
                <img src="../images/{{ reaction.id }}.svg" alt="{{ reaction.smirks }}">
                <p>{{ reaction.smirks }}</p>
            </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        {{ copyright }}
    </footer>
</body>
</html>
