<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Index</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="../images/evodex_logo.png" alt="EVODEX Logo">
        </a>
        <div>
            <h1>Main Index</h1>
        </div>
    </header>
    <main>
        <section>
            <h2>EVODEX Types</h2>
            <ul>
                {% for evodex_type in evodex_types %}
                <li><a href="pages/EVODEX-{{ evodex_type }}_index.html">EVODEX-{{ evodex_type }}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Reaction Operators</h2>
            <ul>
                {% for evodex_type, metadata in ro_metadata.items() %}
                <li><a href="pages/EVODEX-{{ evodex_type }}_index.html">{{ metadata.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        {{ copyright }}
    </footer>
</body>
</html>
