<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evodex_id }} - Reaction</title>
</head>
<body>
    <header>
        <div>
            <h1>{{ evodex_id }}</h1>
        </div>
    </header>
    <main>
        <section>
            <h2>Data Preparation</h2>
            <h3>Raw Reaction</h3>
            <img src="../images/{{ raw_svg }}" alt="Raw Reaction Rendering">
            <p>{{ raw_reaction }}</p>
            
            <h3>Filtered Reaction</h3>
            <img src="../images/{{ filtered_svg }}" alt="Filtered Reaction Rendering">
            <p>{{ filtered_reaction }}</p>
            
            <h3>Astatine Reaction</h3>
            <img src="../images/{{ astatine_svg }}" alt="Astatine Reaction Rendering">
            <p>{{ astatine_reaction }}</p>
        </section>

        <section>
            <h2>EVODEX</h2>
            {% for type, details in reaction_details.items() %}
            <div>
                <h3>{{ type }}</h3>
                <img src="../images/{{ details.svg_filename }}" alt="Reaction Rendering">
                <p>{{ details.smirks }}</p>
            </div>
            {% endfor %}
        </section>

        <section>
            <h2>F</h2>
            <p>{{ formula }}</p>
        </section>

        <section>
            <h2>M</h2>
            <p>{{ mass }}</p>
        </section>
    </main>
    <footer>
        {{ copyright }}
    </footer>
</body>
</html>
