<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All {{ type_name }}</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <a href="../../index.html">
            <img src="../images/evodex_logo.png" alt="EVODEX Logo">
        </a>
        <div>
            <h1>All {{ type_name }}</h1>
            <h2>{{ type_subtitle }}</h2>
        </div>
    </header>
    <main>
        <section>
            <h2>{{ type_subtitle }}</h2>
            <ul>
                {% for evodex_id in evodex_ids %}
                <li><a href="{{ evodex_id }}.html">{{ evodex_id }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        {{ copyright }}
    </footer>
</body>
</html>
